<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<%=totalResultsCount%>
<br>
<form action="/products/" method="POST" id="newform">
	<input type="text" name="name" placeholder="name"></input>
	<br>
	<input type="text" name="country" placeholder="country"></input>
	<br>
	<button>Submit</button>
	<br>
</form>
</body>
</html>