<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container" id="index-container">
<h3>Index</h3>
<%for (i = 0; i < user.length; i++) {%>
<div>
<a href="/countries/<%=user[i].id%>"><%=user[i].username%></a>
<br>
<form action="/countries/<%= user[i].id %>" method="POST">
		  <input type="hidden" name="_method" value="DELETE"/>
		  <button>DELETE</button>
		</form>
</div>
<%}%>
<a href="/countries/new">Make a new user!</a>
<!-- <form action="/countries/:id" method="POST" id="newform">
	<input type="text" name="username" placeholder="username"></input>
	<br>
	<input type="text" name="country" placeholder="country"></input>
	<br>
	<button>Submit</button> -->
	<br>
</form>
</body>
</html>