<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../../css/styles.css">
</head>
<body>
<p>Country Name: <%=geonames[0].countryName%></p>
<p>Toponym Name: <%=geonames[0].toponymName%></p>
<p>Population: <%=geonames[0].population%></p>
<p>Country Code: <%=geonames[0].countryCode%></p>
<a href="/countries">Go Back To The Index!</a>
<div class="animation-box">I heart CSS</div>
</body>
</html>