<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<body>
<form action="/countries" method="POST" id="newform">
	<input type="text" name="username" placeholder="username"></input>
	<br>
	<input type="text" name="country" placeholder="country"></input>
	<br>
	<button>Submit</button>
	<br>
</form>
</body>
</html>