<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<%=user.username%>'s Countries!
<a href="<%=user.id%>/info"><%=user.countries%></a>
<a href="<%=user.id%>/edit">Edit this page!</a>
</body>
</html>