<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<%=user.username%>'s Countries!
<br>
<a href="<%=user.id%>/info"><%=user.countries%></a>
<br>
<a href="<%=user.id%>/edit">Edit this page!</a>
<br>
<a href="/countries">Go Back To The Index!</a>
<br>
<div class="animation-box">I heart CSS</div>
</body>
</html>